/* comment sample */

/* 
selectors:

global "*"
element/type "h1, h2, p, div, ..."
id "#box, #container, ..."
class ".red, .m-40, ..."
attribute, pseudo-class, pseudo-element, etc...
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

#container {
    width: 200px;
}

.m-40 {
    margin: 40px;
}

h1, h2 {
    color: red;
    font-size: 60px;
    background: gray;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 100px;
    border: 1px solid red;
    padding: 10px;

    font-family: 'Ranchers', cursive;
}
